.header{
    background-color: aqua;
    border-radius: 70px;
    border: 80px;
    padding: 25px;
    position: sticky;

}
#header_button{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 15px; 
    background-color: chartreuse;
    border-radius: 30px;
    outline: solid 1px black;
}
#preview{
    border: 20px;
    border-radius: 20px;
    background-color: aqua
}
.foto{
    float: left;
    margin: 20px;
    height: 250px;
}